-# jsmap :: index.haml
-# Copyright (c) 2010 Andrew Benton
-# This software is distributed under the MIT license. See LICENSE for details.

%html
  %head
    %link( rel="stylesheet" type="text/css" href="css/jsmap.css" )
    %link( rel="stylesheet" type="text/css" href="css/prettify.css" )
    %script( type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" )
    %script( type="text/javascript" src="js/prettify.js" )
    %script( type="text/javascript" src="js/jup.js" )
    %script( type="text/javascript" src="js/templates.js" )
    %script( type="text/javascript" src="js/ifmap.js" )
    %script( type="text/javascript" src="js/jsmap.js" )
    %title map with javascript
  %body
    %script(type="text/javascript")
      
    #loading
      %img(src="/img/loading.gif")
      %span#status loading
